<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Video</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script>
        function getRoundedCanvas(sourceCanvas) {
          var canvas = document.createElement('canvas');
          var context = canvas.getContext('2d');
          var width = sourceCanvas.width;
          var height = sourceCanvas.height;

          canvas.width = width;
          canvas.height = height;
          context.imageSmoothingEnabled = true;
          context.drawImage(sourceCanvas, 0, 0, width, height);
          context.globalCompositeOperation = 'destination-in';
          context.beginPath();
          context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI, true);
          context.fill();
          return canvas;
        }

        function createCropper() {
          var image = document.getElementById('image');
          console.log(image);
          var button = document.getElementById('button');
          var result = document.getElementById('result');
          var croppable = false;
          var cropper = new Cropper(image, {
            aspectRatio: 1,
            viewMode: 1,
            ready: function () {
              croppable = true;
            },
          });
          console.log(cropper);

          button.onclick = function () {
            var croppedCanvas;
            var roundedCanvas;
            var roundedImage;

            if (!croppable) {
              return;
            }

            // Crop
            croppedCanvas = cropper.getCroppedCanvas();

            // Round
            roundedCanvas = getRoundedCanvas(croppedCanvas);

            // Show
            roundedImage = document.createElement('img');
            roundedImage.src = roundedCanvas.toDataURL()
            result.innerHTML = '';
            result.appendChild(roundedImage);
            };
        };


        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
                createCropper();
            }
        };

    </script>
</head>
<body>
    <h1>Here you can insert your face into a demo video!</h1>
    <form action="/create/" method="post"  enctype="multipart/form-data">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <p><label for="id_face">Ihr Gesicht:</label> <input type="file" name="face" accept="image/*" required id="id_face" onchange="readURL(this);"></p>
        <img id="image" src="#" alt="Bitte ein Bild auswählen!" />
        <br/><input type="submit" value="Absenden" id="submit">
    </form>

    <form>

    </form>
</body>
</html>